
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body {
    color: whitesmoke;
    background-color: darkcyan;
}

table {
    border: 3px solid whitesmoke;
    padding: 4rem;
    font-size: 24px;
    box-shadow: 0px 5px 50px 5px cyan;
    color: whitesmoke;
}
tr,td {
    padding: 1rem;
    border: 1px solid whitesmoke;
}

.cell {
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: white;
}